* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Axiforma', sans-serif;
}

@font-face{
    font-family: "Axiforma";
    src: url(../assets/Axiforma.otf)

}

/* variaveis CSS*/
:root{
    --bg-primary: #041643;
    --color-primary: #1352F1;
    --color-white: #fff;

    --gray: #4E4E4E;
    --dark-gray: #696969;
    --light-gray: #AFAFAF;
    --lighter-gray: #d7d7d7;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-primary);
    background-image: url(../assets/gradient.svg); 
    background-size: 105vh;
    background-repeat: no-repeat;
    padding: 91px 123px 30px;
    height: 100vh;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 100px;
    align-items: stretch;
}

.div-intro{
    flex: 1;
    padding: 50px 50px;
    width: 343.33px;
}
.div-intro > h1 {
    width: 230px;
    margin-bottom: 23px;
}

.div-intro > p {
    color: #AFAFAF;
}

form label { 
    font-size: 8px;
}

form{
    border-radius: 11px;
    flex: 1;
    background-color: var(--color-white);
    width: 343.33px;
    padding: 50px 30px;
}

form input {
    width: 100%;
    border: 1px solid var(--light-gray);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 24px;
    color: var(--lighter-gray);
}

form input::placeholder{
    color: var(--lighter-gray);
}

.div-link-btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-cadastro {
    
    font-size: 10px;
}

.link-cadastro a {
    color: var(--gray);
    font-weight: 600;
}

.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 37px;
    border-radius: 10px;
    font-size: 9px;
}

footer > p {
    color: var(--color-white);
    text-align: center;
    
}