* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    border: 2px solid red;
}

.pai {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filho {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid;
}